<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://t.ctcdn.com.br/U7wFH7v2C-gSNofY6zVB3j_EctQ=/1200x675/smart/i795385.jpeg"
      alt=""
      height="200px"
    />
  </div>

  <div class="big-card__tittle">
    <h1><a href="#">Título de exemplo</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
        porttitor pharetra bibendum. Aenean ac facilisis orci. Fusce tempor
        massa nec hendrerit mattis. Proin enim lorem, iaculis et velit ac,
        venenatis ornare risus. Pellentesque habitant morbi tristique senectus
        et netus et malesuada fames ac turpis egestas.
      </a>
    </p>
  </div>
</div>
