<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-tittle></app-menu-tittle>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      photoCover="https://t.ctcdn.com.br/U7wFH7v2C-gSNofY6zVB3j_EctQ=/1200x675/smart/i795385.jpeg"
      cardTittle="NOVA SÉRIE AHSOKA JÁ ESTÁ NO AR"
      cardDescription="Assista já a nova série do universo de Star Wars, Ahsoka, no Disney+"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      photoCover="https://t.ctcdn.com.br/U7wFH7v2C-gSNofY6zVB3j_EctQ=/1200x675/smart/i795385.jpeg"
      cardTittle="AHSOKA: NOVA SÉRIE DO UNIVERSO DE STAR WARS É UM SUCESSO"
    ></app-small-card>
    <app-small-card
      photoCover="https://t.ctcdn.com.br/U7wFH7v2C-gSNofY6zVB3j_EctQ=/1200x675/smart/i795385.jpeg"
      cardTittle="AHSOKA: NOVA SÉRIE DO UNIVERSO DE STAR WARS É UM SUCESSO"
    ></app-small-card>
    <app-small-card
      photoCover="https://t.ctcdn.com.br/U7wFH7v2C-gSNofY6zVB3j_EctQ=/1200x675/smart/i795385.jpeg"
      cardTittle="AHSOKA: NOVA SÉRIE DO UNIVERSO DE STAR WARS É UM SUCESSO"
    ></app-small-card>
  </div>
</div>
